<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953438188267-29d8frleskoq338eu6bn8ug7r95ahm4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953438188267-29d8frleskoq338eu6bn8ug7r95ahm4s</string>
	<key>API_KEY</key>
	<string>AIzaSyCLt5h90UJeKIP0mLqNrSnJVlt4cDKTrCU</string>
	<key>GCM_SENDER_ID</key>
	<string>953438188267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pashirin-swiftui</string>
	<key>PROJECT_ID</key>
	<string>pashirin-swiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>pashirin-swiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953438188267:ios:d1dd4ddd8cfeb2ba9c04ae</string>
	<key>DATABASE_URL</key>
	<string>https://pashirin-swiftui.firebaseio.com</string>
</dict>
</plist>